@font-face {
    font-family: platonicc-font;
    src: url(font/regular.ttf);
}

body {
    background-color: #161616;
    color: white;
}

a {
    color: orange;
    font-weight: 650;
}

a:hover {
    color: grey;
}

.circuit{
    color: orange;
}

.branding_container{
    display: flex;
    flex-direction: row;
}

.platonicc_card{
    display: flex;
    flex-direction: column;
    flex:1;
}

.quantum_elit_card{
    display: flex;
    flex-direction: column;
    flex:1;
}

.qiskit_card{
    display: flex;
    flex-direction: column;
    flex:1;
}

.platonicc_card:hover, .quantum_elit_card:hover, .qiskit_card:hover {
    color: orange;
    border-block-style: solid;
    background-color: #252525;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 5px 5px 20px black;
    text-align: center;
    }

.div_box {
    padding: 20px;
    border-block-style: solid;
    background-color: #252525;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 5px 5px 20px black;
    margin: 30px 40px 30px 40px;
    text-align: center;
}

.div_info {
    text-align: center;
    padding: 20px;
    margin: 30px 40px 30px 40px;
}

.nav {
    border-radius: 0px 0px 5px 5px;
    border-color: transparent;
    margin: 0;
    list-style-type: none;
    padding: 0px;
}

.nav_item {
    padding: 1%;
    width: 25%;
    display: block;
    color: orange;
    background-color: transparent;
    text-align: center;
}

.nav_item:hover {
    background-color: orange;
}

.nav_item .nav_link {
    color: orange;
    font-size: auto;
}

.nav_item:hover .nav_link {
    color: #161616;
    text-decoration: none;
}

.logo {
    margin-top: 10px;
    max-width: 33.3%;
    max-height: 33.3%;
    min-width: 33.3%;
    min-height: 33.3%
    width: auto;
    height: auto;
}

.title {
    font-family: platonicc-font;
    padding: 10px;
}

.highlight {
    color: orange;
}

.eq{
    color: orange;
    padding=50px;
    font-size: 120%;
}

.featured_title{
    font-style: italic;
}

@media (max-width: 900px){
    .logo{
         max-width: 50%;
    max-height: 50%;
    min-width: 50%;
    min-height: 50%
    background-color:red;
    width: auto;
    height: auto;
    }
}