@font-face {
    font-family: platonicc-font;
    src: url(../font/regular.ttf);
}

body {
    background-color: #161616;
    color: white;
}

.a {
    color: orange;
}

.a:hover {
    color: grey;
}

.div_box {
    padding: 20px;
    border-block-style: solid;
    background-color: #252525;
    border-radius: 20px;
    border-color: #00000000;
    box-shadow: 5px 5px 20px black;
    margin: 30px 40px 30px 40px;
    text-align: center;
}

.div_info {
    text-align: center;
    padding: 20px;
    margin: 30px 40px 30px 40px;
}

.nav {
    border-radius: 0px 0px 5px 5px;
    border-color: #00000000;
    margin: 0;
    list-style-type: none;
    padding: 0px;
}

.nav_item {
    padding: 1%;
    width: 25%;
    display: block;
    color: orange;
    background-color: transparent;
    text-align: center;
}

.nav_item:hover {
    background-color: orange;
}

.nav_item .nav_link {
    color: orange;
}

.nav_item:hover .nav_link {
    color: #161616;
    text-decoration: none;
}

.logo {
    width: 10%;
    height: 10%;
}

.title {
    font-family: platonicc-font;
    padding: 10px;
}

.highlight {
    color: orange;
}