@font-face {
    font-family: platonicc-font;
    src: url(../font/regular.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: platonicc-font;
}

h1 {
    text-align: center;
    padding: 10px;
}