@font-face {
    font-family: platonicc-font;
    src: url(../font/regular.ttf);
}

body {
    background-color: #161616;
    color: white;
}

.head_div {
    padding: 10px;
    border-block-style: solid;
    background-color: #252525;
    border-radius: 20px;
    border-color: #00000000;
    box-shadow: 5px 5px 20px black;
    margin: 30px 40px 30px 40px;
    text-align: center;
}

.head_logo {
    width: 10%;
    height: 10%;
    padding: 10px 0px 0px 0px;
}

.head_title {
    font-family: platonicc-font;
}

.head_desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}